# Virtual Environment
.venv/

# PyCharm
.idea/

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Output folders
outputs/

# Trained models
models/*.pkl
models/*.joblib

# Large datasets (optional)
dataset/